# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.en

# Database
*.db
*.sqlite3
*.db-journal

# Backup files
backups/
*.bak

# PyInstaller
build/
dist/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log